.add-page-tab-button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  background-color: #f8f9fa;
  border: 1px solid #9DA4B259;
  position: relative;
  user-select: none;
  white-space: nowrap;
  color: #000;
  font-size: 14px;
  min-height: 32px;
  min-width: 92px;
  transition: all 0.2s ease;
}

.add-page-tab-button:hover {
  background-color: #9DA4B259;
  border-color: #dee2e6;
  color: #495057;
  --svg-color: #000;
}

.add-page-tab-button:active {
  transform: scale(0.98);
}

.add-page-tab-button svg {
  width: 20px;
  height: 20px;
}
